spring:
  application:
    name: mc-management

server:
  error:
    include-message: always

management:
  server:
    port: 8090
  endpoints:
    web:
      exposure:
        include:
          - health
          - metrics
          - loggers
