{"openapi": "3.0.0", "info": {"title": "Trial API Credit Card Validator", "description": "# Introduction\nThis is Trial API Credit Card Validator", "version": "1.0.0"}, "servers": [{"url": "https://trial-api-credit-card-validator-4sfb.gw.openapihub.com"}, {"url": "https://ae4023b3-9992-4c6c-9d89-59a942a89995-4sfb.gw.openapihub.com"}], "paths": {"/credit-card/number-check": {"post": {"tags": ["Credit Card Validator"], "summary": "It is API to check the validity of the card number", "description": "Check the validity of the card number", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["number"], "properties": {"number": {"type": "integer", "example": 4111111111111111}, "luhnValidateUnionPay": {"type": "boolean", "description": "This will override the default behavior to ignore luhn validity of UnionPay cards."}, "maxLength": {"type": "integer", "example": 16, "description": "This will override the default behavior to use the card type's max length property and mark any cards that exceed the max length as invalid."}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {}}}}, "security": [{"apiKeyAuth": []}]}}, "/credit-card/holder-name-check": {"post": {"tags": ["Credit Card Validator"], "summary": "The cardholderName validation essentially tests for a valid string greater than 0 characters in length that does not look like a card number.", "description": "Tests for a valid string greater than 0 characters in length that does not look like a card number", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["name"], "properties": {"name": {"type": "string", "example": "Test"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {}}}}, "security": [{"apiKeyAuth": []}]}}, "/credit-card/expire-date-check": {"post": {"tags": ["Credit Card Validator"], "summary": "It is API to check the validity of the card expiration date", "description": "Check the validity of the card expiration date", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["date"], "properties": {"date": {"type": "string", "example": "10/19"}, "maxElapsedYear": {"type": "integer", "example": 19, "description": "It has a default value of 19, so cards with an expiration date 20 or more years in the future would not be considered valid"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {}}}}, "security": [{"apiKeyAuth": []}]}}, "/credit-card/cvv-check": {"post": {"tags": ["Credit Card Validator"], "summary": "It is API to check the validity of the cvv", "description": "Check the validity of the cvv", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["cvv"], "properties": {"cvv": {"type": "integer", "example": 123}, "maxLength": {"type": "integer", "example": 3, "description": "It tests for a numeric string of 3 characters in length by default."}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {}}}}, "security": [{"apiKeyAuth": []}]}}, "/credit-card/postal-code-check": {"post": {"tags": ["Credit Card Validator"], "summary": "It is API to check the validity of the postal code", "description": "Check the validity of the postal code", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["postalCode"], "properties": {"postalCode": {"type": "integer", "example": 123}, "minLength": {"type": "integer", "example": 3, "description": "It tests for a valid string greater than 3 characters in length by default."}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {}}}}, "security": [{"apiKeyAuth": []}]}}}, "components": {"securitySchemes": {"apiKeyAuth": {"type": "apiKey", "in": "header", "name": "X-OpenAPIHub-Key"}}}, "tags": []}
