# coding: utf-8

"""
    Docker Engine API

    The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.  Most of the client's commands map directly to API endpoints (e.g. `docker ps` is `GET /containers/json`). The notable exception is running containers, which consists of several API calls.  # Errors  The API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be JSON in the following format:  ``` {   \"message\": \"page not found\" } ```  # Versioning  The API is usually changed in each release, so API calls are versioned to ensure that clients don't break. To lock to a specific version of the API, you prefix the URL with its version, for example, call `/v1.30/info` to use the v1.30 version of the `/info` endpoint. If the API version specified in the URL is not supported by the daemon, a HTTP `400 Bad Request` error message is returned.  If you omit the version-prefix, the current version of the API (v1.45) is used. For example, calling `/info` is the same as calling `/v1.45/info`. Using the API without a version-prefix is deprecated and will be removed in a future release.  Engine releases in the near future should support this version of the API, so your client will continue to work even if it is talking to a newer Engine.  The API uses an open schema model, which means server may add extra properties to responses. Likewise, the server will ignore any extra query parameters and request body properties. When you write clients, you need to ignore additional properties in responses to ensure they do not break when talking to newer daemons.   # Authentication  Authentication for registries is handled client side. The client has to send authentication details to various endpoints that need to communicate with registries, such as `POST /images/(name)/push`. These are sent as `X-Registry-Auth` header as a [base64url encoded](https://tools.ietf.org/html/rfc4648#section-5) (JSON) string with the following structure:  ``` {   \"username\": \"string\",   \"password\": \"string\",   \"email\": \"string\",   \"serveraddress\": \"string\" } ```  The `serveraddress` is a domain/IP without a protocol. Throughout this structure, double quotes are required.  If you have already got an identity token from the [`/auth` endpoint](#operation/SystemAuth), you can just pass this instead of credentials:  ``` {   \"identitytoken\": \"9cbaf023786cd7...\" } ``` 

    The version of the OpenAPI document: 1.45
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import Field, StrictBool, StrictBytes, StrictInt, StrictStr, field_validator
from typing import List, Optional, Tuple, Union
from typing_extensions import Annotated
from docker_client.generated.models.build_prune_response import BuildPruneResponse
from docker_client.generated.models.container_config import ContainerConfig
from docker_client.generated.models.history_response_item import HistoryResponseItem
from docker_client.generated.models.id_response import IdResponse
from docker_client.generated.models.image_delete_response_item import ImageDeleteResponseItem
from docker_client.generated.models.image_inspect import ImageInspect
from docker_client.generated.models.image_prune_response import ImagePruneResponse
from docker_client.generated.models.image_search_response_item import ImageSearchResponseItem
from docker_client.generated.models.image_summary import ImageSummary

from docker_client.generated.api_client import ApiClient, RequestSerialized
from docker_client.generated.api_response import ApiResponse
from docker_client.generated.rest import RESTResponseType


class ImageApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def build_prune(
        self,
        keep_storage: Annotated[Optional[StrictInt], Field(description="Amount of disk space in bytes to keep for cache")] = None,
        all: Annotated[Optional[StrictBool], Field(description="Remove all types of build cache")] = None,
        filters: Annotated[Optional[StrictStr], Field(description="A JSON encoded value of the filters (a `map[string][]string`) to process on the list of build cache objects.  Available filters:  - `until=<timestamp>` remove cache older than `<timestamp>`. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon's local time. - `id=<id>` - `parent=<id>` - `type=<string>` - `description=<string>` - `inuse` - `shared` - `private` ")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> BuildPruneResponse:
        """Delete builder cache


        :param keep_storage: Amount of disk space in bytes to keep for cache
        :type keep_storage: int
        :param all: Remove all types of build cache
        :type all: bool
        :param filters: A JSON encoded value of the filters (a `map[string][]string`) to process on the list of build cache objects.  Available filters:  - `until=<timestamp>` remove cache older than `<timestamp>`. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon's local time. - `id=<id>` - `parent=<id>` - `type=<string>` - `description=<string>` - `inuse` - `shared` - `private` 
        :type filters: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._build_prune_serialize(
            keep_storage=keep_storage,
            all=all,
            filters=filters,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "BuildPruneResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def build_prune_with_http_info(
        self,
        keep_storage: Annotated[Optional[StrictInt], Field(description="Amount of disk space in bytes to keep for cache")] = None,
        all: Annotated[Optional[StrictBool], Field(description="Remove all types of build cache")] = None,
        filters: Annotated[Optional[StrictStr], Field(description="A JSON encoded value of the filters (a `map[string][]string`) to process on the list of build cache objects.  Available filters:  - `until=<timestamp>` remove cache older than `<timestamp>`. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon's local time. - `id=<id>` - `parent=<id>` - `type=<string>` - `description=<string>` - `inuse` - `shared` - `private` ")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[BuildPruneResponse]:
        """Delete builder cache


        :param keep_storage: Amount of disk space in bytes to keep for cache
        :type keep_storage: int
        :param all: Remove all types of build cache
        :type all: bool
        :param filters: A JSON encoded value of the filters (a `map[string][]string`) to process on the list of build cache objects.  Available filters:  - `until=<timestamp>` remove cache older than `<timestamp>`. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon's local time. - `id=<id>` - `parent=<id>` - `type=<string>` - `description=<string>` - `inuse` - `shared` - `private` 
        :type filters: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._build_prune_serialize(
            keep_storage=keep_storage,
            all=all,
            filters=filters,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "BuildPruneResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def build_prune_without_preload_content(
        self,
        keep_storage: Annotated[Optional[StrictInt], Field(description="Amount of disk space in bytes to keep for cache")] = None,
        all: Annotated[Optional[StrictBool], Field(description="Remove all types of build cache")] = None,
        filters: Annotated[Optional[StrictStr], Field(description="A JSON encoded value of the filters (a `map[string][]string`) to process on the list of build cache objects.  Available filters:  - `until=<timestamp>` remove cache older than `<timestamp>`. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon's local time. - `id=<id>` - `parent=<id>` - `type=<string>` - `description=<string>` - `inuse` - `shared` - `private` ")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Delete builder cache


        :param keep_storage: Amount of disk space in bytes to keep for cache
        :type keep_storage: int
        :param all: Remove all types of build cache
        :type all: bool
        :param filters: A JSON encoded value of the filters (a `map[string][]string`) to process on the list of build cache objects.  Available filters:  - `until=<timestamp>` remove cache older than `<timestamp>`. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon's local time. - `id=<id>` - `parent=<id>` - `type=<string>` - `description=<string>` - `inuse` - `shared` - `private` 
        :type filters: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._build_prune_serialize(
            keep_storage=keep_storage,
            all=all,
            filters=filters,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "BuildPruneResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _build_prune_serialize(
        self,
        keep_storage,
        all,
        filters,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if keep_storage is not None:
            
            _query_params.append(('keep-storage', keep_storage))
            
        if all is not None:
            
            _query_params.append(('all', all))
            
        if filters is not None:
            
            _query_params.append(('filters', filters))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
        ]

        return self.api_client.param_serialize(
            method='POST',
            resource_path='/build/prune',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )




    @validate_call
    def image_build(
        self,
        dockerfile: Annotated[Optional[StrictStr], Field(description="Path within the build context to the `Dockerfile`. This is ignored if `remote` is specified and points to an external `Dockerfile`.")] = None,
        t: Annotated[Optional[StrictStr], Field(description="A name and optional tag to apply to the image in the `name:tag` format. If you omit the tag the default `latest` value is assumed. You can provide several `t` parameters.")] = None,
        extrahosts: Annotated[Optional[StrictStr], Field(description="Extra hosts to add to /etc/hosts")] = None,
        remote: Annotated[Optional[StrictStr], Field(description="A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called `Dockerfile` and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the `dockerfile` parameter is also specified, there must be a file with the corresponding path inside the tarball.")] = None,
        q: Annotated[Optional[StrictBool], Field(description="Suppress verbose build output.")] = None,
        nocache: Annotated[Optional[StrictBool], Field(description="Do not use the cache when building the image.")] = None,
        cachefrom: Annotated[Optional[StrictStr], Field(description="JSON array of images used for build cache resolution.")] = None,
        pull: Annotated[Optional[StrictStr], Field(description="Attempt to pull the image even if an older image exists locally.")] = None,
        rm: Annotated[Optional[StrictBool], Field(description="Remove intermediate containers after a successful build.")] = None,
        forcerm: Annotated[Optional[StrictBool], Field(description="Always remove intermediate containers, even upon failure.")] = None,
        memory: Annotated[Optional[StrictInt], Field(description="Set memory limit for build.")] = None,
        memswap: Annotated[Optional[StrictInt], Field(description="Total memory (memory + swap). Set as `-1` to disable swap.")] = None,
        cpushares: Annotated[Optional[StrictInt], Field(description="CPU shares (relative weight).")] = None,
        cpusetcpus: Annotated[Optional[StrictStr], Field(description="CPUs in which to allow execution (e.g., `0-3`, `0,1`).")] = None,
        cpuperiod: Annotated[Optional[StrictInt], Field(description="The length of a CPU period in microseconds.")] = None,
        cpuquota: Annotated[Optional[StrictInt], Field(description="Microseconds of CPU time that the container can get in a CPU period.")] = None,
        buildargs: Annotated[Optional[StrictStr], Field(description="JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the `Dockerfile` RUN instruction, or for variable expansion in other `Dockerfile` instructions. This is not meant for passing secret values.  For example, the build arg `FOO=bar` would become `{\"FOO\":\"bar\"}` in JSON. This would result in the query parameter `buildargs={\"FOO\":\"bar\"}`. Note that `{\"FOO\":\"bar\"}` should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) ")] = None,
        shmsize: Annotated[Optional[StrictInt], Field(description="Size of `/dev/shm` in bytes. The size must be greater than 0. If omitted the system uses 64MB.")] = None,
        squash: Annotated[Optional[StrictBool], Field(description="Squash the resulting images layers into a single layer. *(Experimental release only.)*")] = None,
        labels: Annotated[Optional[StrictStr], Field(description="Arbitrary key/value labels to set on the image, as a JSON map of string pairs.")] = None,
        networkmode: Annotated[Optional[StrictStr], Field(description="Sets the networking mode for the run commands during build. Supported standard values are: `bridge`, `host`, `none`, and `container:<name|id>`. Any other value is taken as a custom network's name or ID to which this container should connect to. ")] = None,
        content_type: Optional[StrictStr] = None,
        x_registry_config: Annotated[Optional[StrictStr], Field(description="This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  ``` {   \"docker.example.com\": {     \"username\": \"janedoe\",     \"password\": \"hunter2\"   },   \"https://index.docker.io/v1/\": {     \"username\": \"mobydock\",     \"password\": \"conta1n3rize14\"   } } ```  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a `https://` prefix and a `/v1/` suffix even though Docker will prefer to use the v2 registry API. ")] = None,
        platform: Annotated[Optional[StrictStr], Field(description="Platform in the format os[/arch[/variant]]")] = None,
        target: Annotated[Optional[StrictStr], Field(description="Target build stage")] = None,
        outputs: Annotated[Optional[StrictStr], Field(description="BuildKit output configuration")] = None,
        version: Annotated[Optional[StrictStr], Field(description="Version of the builder backend to use.  - `1` is the first generation classic (deprecated) builder in the Docker daemon (default) - `2` is [BuildKit](https://github.com/moby/buildkit) ")] = None,
        input_stream: Annotated[Optional[Union[StrictBytes, StrictStr, Tuple[StrictStr, StrictBytes]]], Field(description="A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> None:
        """Build an image

        Build an image from a tar archive with a `Dockerfile` in it.  The `Dockerfile` specifies how the image is built from the tar archive. It is typically in the archive's root, but can be at a different path or have a different name by specifying the `dockerfile` parameter. [See the `Dockerfile` reference for more information](https://docs.docker.com/engine/reference/builder/).  The Docker daemon performs a preliminary validation of the `Dockerfile` before starting the build, and returns an error if the syntax is incorrect. After that, each instruction is run one-by-one until the ID of the new image is output.  The build is canceled if the client drops the connection by quitting or being killed. 

        :param dockerfile: Path within the build context to the `Dockerfile`. This is ignored if `remote` is specified and points to an external `Dockerfile`.
        :type dockerfile: str
        :param t: A name and optional tag to apply to the image in the `name:tag` format. If you omit the tag the default `latest` value is assumed. You can provide several `t` parameters.
        :type t: str
        :param extrahosts: Extra hosts to add to /etc/hosts
        :type extrahosts: str
        :param remote: A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called `Dockerfile` and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the `dockerfile` parameter is also specified, there must be a file with the corresponding path inside the tarball.
        :type remote: str
        :param q: Suppress verbose build output.
        :type q: bool
        :param nocache: Do not use the cache when building the image.
        :type nocache: bool
        :param cachefrom: JSON array of images used for build cache resolution.
        :type cachefrom: str
        :param pull: Attempt to pull the image even if an older image exists locally.
        :type pull: str
        :param rm: Remove intermediate containers after a successful build.
        :type rm: bool
        :param forcerm: Always remove intermediate containers, even upon failure.
        :type forcerm: bool
        :param memory: Set memory limit for build.
        :type memory: int
        :param memswap: Total memory (memory + swap). Set as `-1` to disable swap.
        :type memswap: int
        :param cpushares: CPU shares (relative weight).
        :type cpushares: int
        :param cpusetcpus: CPUs in which to allow execution (e.g., `0-3`, `0,1`).
        :type cpusetcpus: str
        :param cpuperiod: The length of a CPU period in microseconds.
        :type cpuperiod: int
        :param cpuquota: Microseconds of CPU time that the container can get in a CPU period.
        :type cpuquota: int
        :param buildargs: JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the `Dockerfile` RUN instruction, or for variable expansion in other `Dockerfile` instructions. This is not meant for passing secret values.  For example, the build arg `FOO=bar` would become `{\"FOO\":\"bar\"}` in JSON. This would result in the query parameter `buildargs={\"FOO\":\"bar\"}`. Note that `{\"FOO\":\"bar\"}` should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) 
        :type buildargs: str
        :param shmsize: Size of `/dev/shm` in bytes. The size must be greater than 0. If omitted the system uses 64MB.
        :type shmsize: int
        :param squash: Squash the resulting images layers into a single layer. *(Experimental release only.)*
        :type squash: bool
        :param labels: Arbitrary key/value labels to set on the image, as a JSON map of string pairs.
        :type labels: str
        :param networkmode: Sets the networking mode for the run commands during build. Supported standard values are: `bridge`, `host`, `none`, and `container:<name|id>`. Any other value is taken as a custom network's name or ID to which this container should connect to. 
        :type networkmode: str
        :param content_type:
        :type content_type: str
        :param x_registry_config: This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  ``` {   \"docker.example.com\": {     \"username\": \"janedoe\",     \"password\": \"hunter2\"   },   \"https://index.docker.io/v1/\": {     \"username\": \"mobydock\",     \"password\": \"conta1n3rize14\"   } } ```  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a `https://` prefix and a `/v1/` suffix even though Docker will prefer to use the v2 registry API. 
        :type x_registry_config: str
        :param platform: Platform in the format os[/arch[/variant]]
        :type platform: str
        :param target: Target build stage
        :type target: str
        :param outputs: BuildKit output configuration
        :type outputs: str
        :param version: Version of the builder backend to use.  - `1` is the first generation classic (deprecated) builder in the Docker daemon (default) - `2` is [BuildKit](https://github.com/moby/buildkit) 
        :type version: str
        :param input_stream: A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz.
        :type input_stream: bytearray
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._image_build_serialize(
            dockerfile=dockerfile,
            t=t,
            extrahosts=extrahosts,
            remote=remote,
            q=q,
            nocache=nocache,
            cachefrom=cachefrom,
            pull=pull,
            rm=rm,
            forcerm=forcerm,
            memory=memory,
            memswap=memswap,
            cpushares=cpushares,
            cpusetcpus=cpusetcpus,
            cpuperiod=cpuperiod,
            cpuquota=cpuquota,
            buildargs=buildargs,
            shmsize=shmsize,
            squash=squash,
            labels=labels,
            networkmode=networkmode,
            content_type=content_type,
            x_registry_config=x_registry_config,
            platform=platform,
            target=target,
            outputs=outputs,
            version=version,
            input_stream=input_stream,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': None,
            '400': "ErrorResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def image_build_with_http_info(
        self,
        dockerfile: Annotated[Optional[StrictStr], Field(description="Path within the build context to the `Dockerfile`. This is ignored if `remote` is specified and points to an external `Dockerfile`.")] = None,
        t: Annotated[Optional[StrictStr], Field(description="A name and optional tag to apply to the image in the `name:tag` format. If you omit the tag the default `latest` value is assumed. You can provide several `t` parameters.")] = None,
        extrahosts: Annotated[Optional[StrictStr], Field(description="Extra hosts to add to /etc/hosts")] = None,
        remote: Annotated[Optional[StrictStr], Field(description="A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called `Dockerfile` and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the `dockerfile` parameter is also specified, there must be a file with the corresponding path inside the tarball.")] = None,
        q: Annotated[Optional[StrictBool], Field(description="Suppress verbose build output.")] = None,
        nocache: Annotated[Optional[StrictBool], Field(description="Do not use the cache when building the image.")] = None,
        cachefrom: Annotated[Optional[StrictStr], Field(description="JSON array of images used for build cache resolution.")] = None,
        pull: Annotated[Optional[StrictStr], Field(description="Attempt to pull the image even if an older image exists locally.")] = None,
        rm: Annotated[Optional[StrictBool], Field(description="Remove intermediate containers after a successful build.")] = None,
        forcerm: Annotated[Optional[StrictBool], Field(description="Always remove intermediate containers, even upon failure.")] = None,
        memory: Annotated[Optional[StrictInt], Field(description="Set memory limit for build.")] = None,
        memswap: Annotated[Optional[StrictInt], Field(description="Total memory (memory + swap). Set as `-1` to disable swap.")] = None,
        cpushares: Annotated[Optional[StrictInt], Field(description="CPU shares (relative weight).")] = None,
        cpusetcpus: Annotated[Optional[StrictStr], Field(description="CPUs in which to allow execution (e.g., `0-3`, `0,1`).")] = None,
        cpuperiod: Annotated[Optional[StrictInt], Field(description="The length of a CPU period in microseconds.")] = None,
        cpuquota: Annotated[Optional[StrictInt], Field(description="Microseconds of CPU time that the container can get in a CPU period.")] = None,
        buildargs: Annotated[Optional[StrictStr], Field(description="JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the `Dockerfile` RUN instruction, or for variable expansion in other `Dockerfile` instructions. This is not meant for passing secret values.  For example, the build arg `FOO=bar` would become `{\"FOO\":\"bar\"}` in JSON. This would result in the query parameter `buildargs={\"FOO\":\"bar\"}`. Note that `{\"FOO\":\"bar\"}` should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) ")] = None,
        shmsize: Annotated[Optional[StrictInt], Field(description="Size of `/dev/shm` in bytes. The size must be greater than 0. If omitted the system uses 64MB.")] = None,
        squash: Annotated[Optional[StrictBool], Field(description="Squash the resulting images layers into a single layer. *(Experimental release only.)*")] = None,
        labels: Annotated[Optional[StrictStr], Field(description="Arbitrary key/value labels to set on the image, as a JSON map of string pairs.")] = None,
        networkmode: Annotated[Optional[StrictStr], Field(description="Sets the networking mode for the run commands during build. Supported standard values are: `bridge`, `host`, `none`, and `container:<name|id>`. Any other value is taken as a custom network's name or ID to which this container should connect to. ")] = None,
        content_type: Optional[StrictStr] = None,
        x_registry_config: Annotated[Optional[StrictStr], Field(description="This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  ``` {   \"docker.example.com\": {     \"username\": \"janedoe\",     \"password\": \"hunter2\"   },   \"https://index.docker.io/v1/\": {     \"username\": \"mobydock\",     \"password\": \"conta1n3rize14\"   } } ```  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a `https://` prefix and a `/v1/` suffix even though Docker will prefer to use the v2 registry API. ")] = None,
        platform: Annotated[Optional[StrictStr], Field(description="Platform in the format os[/arch[/variant]]")] = None,
        target: Annotated[Optional[StrictStr], Field(description="Target build stage")] = None,
        outputs: Annotated[Optional[StrictStr], Field(description="BuildKit output configuration")] = None,
        version: Annotated[Optional[StrictStr], Field(description="Version of the builder backend to use.  - `1` is the first generation classic (deprecated) builder in the Docker daemon (default) - `2` is [BuildKit](https://github.com/moby/buildkit) ")] = None,
        input_stream: Annotated[Optional[Union[StrictBytes, StrictStr, Tuple[StrictStr, StrictBytes]]], Field(description="A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[None]:
        """Build an image

        Build an image from a tar archive with a `Dockerfile` in it.  The `Dockerfile` specifies how the image is built from the tar archive. It is typically in the archive's root, but can be at a different path or have a different name by specifying the `dockerfile` parameter. [See the `Dockerfile` reference for more information](https://docs.docker.com/engine/reference/builder/).  The Docker daemon performs a preliminary validation of the `Dockerfile` before starting the build, and returns an error if the syntax is incorrect. After that, each instruction is run one-by-one until the ID of the new image is output.  The build is canceled if the client drops the connection by quitting or being killed. 

        :param dockerfile: Path within the build context to the `Dockerfile`. This is ignored if `remote` is specified and points to an external `Dockerfile`.
        :type dockerfile: str
        :param t: A name and optional tag to apply to the image in the `name:tag` format. If you omit the tag the default `latest` value is assumed. You can provide several `t` parameters.
        :type t: str
        :param extrahosts: Extra hosts to add to /etc/hosts
        :type extrahosts: str
        :param remote: A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called `Dockerfile` and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the `dockerfile` parameter is also specified, there must be a file with the corresponding path inside the tarball.
        :type remote: str
        :param q: Suppress verbose build output.
        :type q: bool
        :param nocache: Do not use the cache when building the image.
        :type nocache: bool
        :param cachefrom: JSON array of images used for build cache resolution.
        :type cachefrom: str
        :param pull: Attempt to pull the image even if an older image exists locally.
        :type pull: str
        :param rm: Remove intermediate containers after a successful build.
        :type rm: bool
        :param forcerm: Always remove intermediate containers, even upon failure.
        :type forcerm: bool
        :param memory: Set memory limit for build.
        :type memory: int
        :param memswap: Total memory (memory + swap). Set as `-1` to disable swap.
        :type memswap: int
        :param cpushares: CPU shares (relative weight).
        :type cpushares: int
        :param cpusetcpus: CPUs in which to allow execution (e.g., `0-3`, `0,1`).
        :type cpusetcpus: str
        :param cpuperiod: The length of a CPU period in microseconds.
        :type cpuperiod: int
        :param cpuquota: Microseconds of CPU time that the container can get in a CPU period.
        :type cpuquota: int
        :param buildargs: JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the `Dockerfile` RUN instruction, or for variable expansion in other `Dockerfile` instructions. This is not meant for passing secret values.  For example, the build arg `FOO=bar` would become `{\"FOO\":\"bar\"}` in JSON. This would result in the query parameter `buildargs={\"FOO\":\"bar\"}`. Note that `{\"FOO\":\"bar\"}` should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) 
        :type buildargs: str
        :param shmsize: Size of `/dev/shm` in bytes. The size must be greater than 0. If omitted the system uses 64MB.
        :type shmsize: int
        :param squash: Squash the resulting images layers into a single layer. *(Experimental release only.)*
        :type squash: bool
        :param labels: Arbitrary key/value labels to set on the image, as a JSON map of string pairs.
        :type labels: str
        :param networkmode: Sets the networking mode for the run commands during build. Supported standard values are: `bridge`, `host`, `none`, and `container:<name|id>`. Any other value is taken as a custom network's name or ID to which this container should connect to. 
        :type networkmode: str
        :param content_type:
        :type content_type: str
        :param x_registry_config: This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  ``` {   \"docker.example.com\": {     \"username\": \"janedoe\",     \"password\": \"hunter2\"   },   \"https://index.docker.io/v1/\": {     \"username\": \"mobydock\",     \"password\": \"conta1n3rize14\"   } } ```  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a `https://` prefix and a `/v1/` suffix even though Docker will prefer to use the v2 registry API. 
        :type x_registry_config: str
        :param platform: Platform in the format os[/arch[/variant]]
        :type platform: str
        :param target: Target build stage
        :type target: str
        :param outputs: BuildKit output configuration
        :type outputs: str
        :param version: Version of the builder backend to use.  - `1` is the first generation classic (deprecated) builder in the Docker daemon (default) - `2` is [BuildKit](https://github.com/moby/buildkit) 
        :type version: str
        :param input_stream: A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz.
        :type input_stream: bytearray
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._image_build_serialize(
            dockerfile=dockerfile,
            t=t,
            extrahosts=extrahosts,
            remote=remote,
            q=q,
            nocache=nocache,
            cachefrom=cachefrom,
            pull=pull,
            rm=rm,
            forcerm=forcerm,
            memory=memory,
            memswap=memswap,
            cpushares=cpushares,
            cpusetcpus=cpusetcpus,
            cpuperiod=cpuperiod,
            cpuquota=cpuquota,
            buildargs=buildargs,
            shmsize=shmsize,
            squash=squash,
            labels=labels,
            networkmode=networkmode,
            content_type=content_type,
            x_registry_config=x_registry_config,
            platform=platform,
            target=target,
            outputs=outputs,
            version=version,
            input_stream=input_stream,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': None,
            '400': "ErrorResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def image_build_without_preload_content(
        self,
        dockerfile: Annotated[Optional[StrictStr], Field(description="Path within the build context to the `Dockerfile`. This is ignored if `remote` is specified and points to an external `Dockerfile`.")] = None,
        t: Annotated[Optional[StrictStr], Field(description="A name and optional tag to apply to the image in the `name:tag` format. If you omit the tag the default `latest` value is assumed. You can provide several `t` parameters.")] = None,
        extrahosts: Annotated[Optional[StrictStr], Field(description="Extra hosts to add to /etc/hosts")] = None,
        remote: Annotated[Optional[StrictStr], Field(description="A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called `Dockerfile` and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the `dockerfile` parameter is also specified, there must be a file with the corresponding path inside the tarball.")] = None,
        q: Annotated[Optional[StrictBool], Field(description="Suppress verbose build output.")] = None,
        nocache: Annotated[Optional[StrictBool], Field(description="Do not use the cache when building the image.")] = None,
        cachefrom: Annotated[Optional[StrictStr], Field(description="JSON array of images used for build cache resolution.")] = None,
        pull: Annotated[Optional[StrictStr], Field(description="Attempt to pull the image even if an older image exists locally.")] = None,
        rm: Annotated[Optional[StrictBool], Field(description="Remove intermediate containers after a successful build.")] = None,
        forcerm: Annotated[Optional[StrictBool], Field(description="Always remove intermediate containers, even upon failure.")] = None,
        memory: Annotated[Optional[StrictInt], Field(description="Set memory limit for build.")] = None,
        memswap: Annotated[Optional[StrictInt], Field(description="Total memory (memory + swap). Set as `-1` to disable swap.")] = None,
        cpushares: Annotated[Optional[StrictInt], Field(description="CPU shares (relative weight).")] = None,
        cpusetcpus: Annotated[Optional[StrictStr], Field(description="CPUs in which to allow execution (e.g., `0-3`, `0,1`).")] = None,
        cpuperiod: Annotated[Optional[StrictInt], Field(description="The length of a CPU period in microseconds.")] = None,
        cpuquota: Annotated[Optional[StrictInt], Field(description="Microseconds of CPU time that the container can get in a CPU period.")] = None,
        buildargs: Annotated[Optional[StrictStr], Field(description="JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the `Dockerfile` RUN instruction, or for variable expansion in other `Dockerfile` instructions. This is not meant for passing secret values.  For example, the build arg `FOO=bar` would become `{\"FOO\":\"bar\"}` in JSON. This would result in the query parameter `buildargs={\"FOO\":\"bar\"}`. Note that `{\"FOO\":\"bar\"}` should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) ")] = None,
        shmsize: Annotated[Optional[StrictInt], Field(description="Size of `/dev/shm` in bytes. The size must be greater than 0. If omitted the system uses 64MB.")] = None,
        squash: Annotated[Optional[StrictBool], Field(description="Squash the resulting images layers into a single layer. *(Experimental release only.)*")] = None,
        labels: Annotated[Optional[StrictStr], Field(description="Arbitrary key/value labels to set on the image, as a JSON map of string pairs.")] = None,
        networkmode: Annotated[Optional[StrictStr], Field(description="Sets the networking mode for the run commands during build. Supported standard values are: `bridge`, `host`, `none`, and `container:<name|id>`. Any other value is taken as a custom network's name or ID to which this container should connect to. ")] = None,
        content_type: Optional[StrictStr] = None,
        x_registry_config: Annotated[Optional[StrictStr], Field(description="This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  ``` {   \"docker.example.com\": {     \"username\": \"janedoe\",     \"password\": \"hunter2\"   },   \"https://index.docker.io/v1/\": {     \"username\": \"mobydock\",     \"password\": \"conta1n3rize14\"   } } ```  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a `https://` prefix and a `/v1/` suffix even though Docker will prefer to use the v2 registry API. ")] = None,
        platform: Annotated[Optional[StrictStr], Field(description="Platform in the format os[/arch[/variant]]")] = None,
        target: Annotated[Optional[StrictStr], Field(description="Target build stage")] = None,
        outputs: Annotated[Optional[StrictStr], Field(description="BuildKit output configuration")] = None,
        version: Annotated[Optional[StrictStr], Field(description="Version of the builder backend to use.  - `1` is the first generation classic (deprecated) builder in the Docker daemon (default) - `2` is [BuildKit](https://github.com/moby/buildkit) ")] = None,
        input_stream: Annotated[Optional[Union[StrictBytes, StrictStr, Tuple[StrictStr, StrictBytes]]], Field(description="A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Build an image

        Build an image from a tar archive with a `Dockerfile` in it.  The `Dockerfile` specifies how the image is built from the tar archive. It is typically in the archive's root, but can be at a different path or have a different name by specifying the `dockerfile` parameter. [See the `Dockerfile` reference for more information](https://docs.docker.com/engine/reference/builder/).  The Docker daemon performs a preliminary validation of the `Dockerfile` before starting the build, and returns an error if the syntax is incorrect. After that, each instruction is run one-by-one until the ID of the new image is output.  The build is canceled if the client drops the connection by quitting or being killed. 

        :param dockerfile: Path within the build context to the `Dockerfile`. This is ignored if `remote` is specified and points to an external `Dockerfile`.
        :type dockerfile: str
        :param t: A name and optional tag to apply to the image in the `name:tag` format. If you omit the tag the default `latest` value is assumed. You can provide several `t` parameters.
        :type t: str
        :param extrahosts: Extra hosts to add to /etc/hosts
        :type extrahosts: str
        :param remote: A Git repository URI or HTTP/HTTPS context URI. If the URI points to a single text file, the file’s contents are placed into a file called `Dockerfile` and the image is built from that file. If the URI points to a tarball, the file is downloaded by the daemon and the contents therein used as the context for the build. If the URI points to a tarball and the `dockerfile` parameter is also specified, there must be a file with the corresponding path inside the tarball.
        :type remote: str
        :param q: Suppress verbose build output.
        :type q: bool
        :param nocache: Do not use the cache when building the image.
        :type nocache: bool
        :param cachefrom: JSON array of images used for build cache resolution.
        :type cachefrom: str
        :param pull: Attempt to pull the image even if an older image exists locally.
        :type pull: str
        :param rm: Remove intermediate containers after a successful build.
        :type rm: bool
        :param forcerm: Always remove intermediate containers, even upon failure.
        :type forcerm: bool
        :param memory: Set memory limit for build.
        :type memory: int
        :param memswap: Total memory (memory + swap). Set as `-1` to disable swap.
        :type memswap: int
        :param cpushares: CPU shares (relative weight).
        :type cpushares: int
        :param cpusetcpus: CPUs in which to allow execution (e.g., `0-3`, `0,1`).
        :type cpusetcpus: str
        :param cpuperiod: The length of a CPU period in microseconds.
        :type cpuperiod: int
        :param cpuquota: Microseconds of CPU time that the container can get in a CPU period.
        :type cpuquota: int
        :param buildargs: JSON map of string pairs for build-time variables. Users pass these values at build-time. Docker uses the buildargs as the environment context for commands run via the `Dockerfile` RUN instruction, or for variable expansion in other `Dockerfile` instructions. This is not meant for passing secret values.  For example, the build arg `FOO=bar` would become `{\"FOO\":\"bar\"}` in JSON. This would result in the query parameter `buildargs={\"FOO\":\"bar\"}`. Note that `{\"FOO\":\"bar\"}` should be URI component encoded.  [Read more about the buildargs instruction.](https://docs.docker.com/engine/reference/builder/#arg) 
        :type buildargs: str
        :param shmsize: Size of `/dev/shm` in bytes. The size must be greater than 0. If omitted the system uses 64MB.
        :type shmsize: int
        :param squash: Squash the resulting images layers into a single layer. *(Experimental release only.)*
        :type squash: bool
        :param labels: Arbitrary key/value labels to set on the image, as a JSON map of string pairs.
        :type labels: str
        :param networkmode: Sets the networking mode for the run commands during build. Supported standard values are: `bridge`, `host`, `none`, and `container:<name|id>`. Any other value is taken as a custom network's name or ID to which this container should connect to. 
        :type networkmode: str
        :param content_type:
        :type content_type: str
        :param x_registry_config: This is a base64-encoded JSON object with auth configurations for multiple registries that a build may refer to.  The key is a registry URL, and the value is an auth configuration object, [as described in the authentication section](#section/Authentication). For example:  ``` {   \"docker.example.com\": {     \"username\": \"janedoe\",     \"password\": \"hunter2\"   },   \"https://index.docker.io/v1/\": {     \"username\": \"mobydock\",     \"password\": \"conta1n3rize14\"   } } ```  Only the registry domain name (and port if not the default 443) are required. However, for legacy reasons, the Docker Hub registry must be specified with both a `https://` prefix and a `/v1/` suffix even though Docker will prefer to use the v2 registry API. 
        :type x_registry_config: str
        :param platform: Platform in the format os[/arch[/variant]]
        :type platform: str
        :param target: Target build stage
        :type target: str
        :param outputs: BuildKit output configuration
        :type outputs: str
        :param version: Version of the builder backend to use.  - `1` is the first generation classic (deprecated) builder in the Docker daemon (default) - `2` is [BuildKit](https://github.com/moby/buildkit) 
        :type version: str
        :param input_stream: A tar archive compressed with one of the following algorithms: identity (no compression), gzip, bzip2, xz.
        :type input_stream: bytearray
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._image_build_serialize(
            dockerfile=dockerfile,
            t=t,
            extrahosts=extrahosts,
            remote=remote,
            q=q,
            nocache=nocache,
            cachefrom=cachefrom,
            pull=pull,
            rm=rm,
            forcerm=forcerm,
            memory=memory,
            memswap=memswap,
            cpushares=cpushares,
            cpusetcpus=cpusetcpus,
            cpuperiod=cpuperiod,
            cpuquota=cpuquota,
            buildargs=buildargs,
            shmsize=shmsize,
            squash=squash,
            labels=labels,
            networkmode=networkmode,
            content_type=content_type,
            x_registry_config=x_registry_config,
            platform=platform,
            target=target,
            outputs=outputs,
            version=version,
            input_stream=input_stream,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': None,
            '400': "ErrorResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _image_build_serialize(
        self,
        dockerfile,
        t,
        extrahosts,
        remote,
        q,
        nocache,
        cachefrom,
        pull,
        rm,
        forcerm,
        memory,
        memswap,
        cpushares,
        cpusetcpus,
        cpuperiod,
        cpuquota,
        buildargs,
        shmsize,
        squash,
        labels,
        networkmode,
        content_type,
        x_registry_config,
        platform,
        target,
        outputs,
        version,
        input_stream,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if dockerfile is not None:
            
            _query_params.append(('dockerfile', dockerfile))
            
        if t is not None:
            
            _query_params.append(('t', t))
            
        if extrahosts is not None:
            
            _query_params.append(('extrahosts', extrahosts))
            
        if remote is not None:
            
            _query_params.append(('remote', remote))
            
        if q is not None:
            
            _query_params.append(('q', q))
            
        if nocache is not None:
            
            _query_params.append(('nocache', nocache))
            
        if cachefrom is not None:
            
            _query_params.append(('cachefrom', cachefrom))
            
        if pull is not None:
            
            _query_params.append(('pull', pull))
            
        if rm is not None:
            
            _query_params.append(('rm', rm))
            
        if forcerm is not None:
            
            _query_params.append(('forcerm', forcerm))
            
        if memory is not None:
            
            _query_params.append(('memory', memory))
            
        if memswap is not None:
            
            _query_params.append(('memswap', memswap))
            
        if cpushares is not None:
            
            _query_params.append(('cpushares', cpushares))
            
        if cpusetcpus is not None:
            
            _query_params.append(('cpusetcpus', cpusetcpus))
            
        if cpuperiod is not None:
            
            _query_params.append(('cpuperiod', cpuperiod))
            
        if cpuquota is not None:
            
            _query_params.append(('cpuquota', cpuquota))
            
        if buildargs is not None:
            
            _query_params.append(('buildargs', buildargs))
            
        if shmsize is not None:
            
            _query_params.append(('shmsize', shmsize))
            
        if squash is not None:
            
            _query_params.append(('squash', squash))
            
        if labels is not None:
            
            _query_params.append(('labels', labels))
            
        if networkmode is not None:
            
            _query_params.append(('networkmode', networkmode))
            
        if platform is not None:
            
            _query_params.append(('platform', platform))
            
        if target is not None:
            
            _query_params.append(('target', target))
            
        if outputs is not None:
            
            _query_params.append(('outputs', outputs))
            
        if version is not None:
            
            _query_params.append(('version', version))
            
        # process the header parameters
        if content_type is not None:
            _header_params['Content-type'] = content_type
        if x_registry_config is not None:
            _header_params['X-Registry-Config'] = x_registry_config
        # process the form parameters
        # process the body parameter
        if input_stream is not None:
            # convert to byte array if the input is a file name (str)
            if isinstance(input_stream, str):
                with open(input_stream, "rb") as _fp:
                    _body_params = _fp.read()
            elif isinstance(input_stream, tuple):
                # drop the filename from the tuple
                _body_params = input_stream[1]
            else:
                _body_params = input_stream


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )

        # set the HTTP header `Content-Type`
        if _content_type:
            _header_params['Content-Type'] = _content_type
        else:
            _default_content_type = (
                self.api_client.select_header_content_type(
                    [
                        'application/octet-stream'
                    ]
                )
            )
            if _default_content_type is not None:
                _header_params['Content-Type'] = _default_content_type

        # authentication setting
        _auth_settings: List[str] = [
        ]

        return self.api_client.param_serialize(
            method='POST',
            resource_path='/build',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )




    @validate_call
    def image_commit(
        self,
        container: Annotated[Optional[StrictStr], Field(description="The ID or name of the container to commit")] = None,
        repo: Annotated[Optional[StrictStr], Field(description="Repository name for the created image")] = None,
        tag: Annotated[Optional[StrictStr], Field(description="Tag name for the create image")] = None,
        comment: Annotated[Optional[StrictStr], Field(description="Commit message")] = None,
        author: Annotated[Optional[StrictStr], Field(description="Author of the image (e.g., `John Hannibal Smith <hannibal@a-team.com>`)")] = None,
        pause: Annotated[Optional[StrictBool], Field(description="Whether to pause the container before committing")] = None,
        changes: Annotated[Optional[StrictStr], Field(description="`Dockerfile` instructions to apply while committing")] = None,
        container_config: Annotated[Optional[ContainerConfig], Field(description="The container configuration")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> IdResponse:
        """Create a new image from a container


        :param container: The ID or name of the container to commit
        :type container: str
        :param repo: Repository name for the created image
        :type repo: str
        :param tag: Tag name for the create image
        :type tag: str
        :param comment: Commit message
        :type comment: str
        :param author: Author of the image (e.g., `John Hannibal Smith <hannibal@a-team.com>`)
        :type author: str
        :param pause: Whether to pause the container before committing
        :type pause: bool
        :param changes: `Dockerfile` instructions to apply while committing
        :type changes: str
        :param container_config: The container configuration
        :type container_config: ContainerConfig
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._image_commit_serialize(
            container=container,
            repo=repo,
            tag=tag,
            comment=comment,
            author=author,
            pause=pause,
            changes=changes,
            container_config=container_config,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '201': "IdResponse",
            '404': "ErrorResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def image_commit_with_http_info(
        self,
        container: Annotated[Optional[StrictStr], Field(description="The ID or name of the container to commit")] = None,
        repo: Annotated[Optional[StrictStr], Field(description="Repository name for the created image")] = None,
        tag: Annotated[Optional[StrictStr], Field(description="Tag name for the create image")] = None,
        comment: Annotated[Optional[StrictStr], Field(description="Commit message")] = None,
        author: Annotated[Optional[StrictStr], Field(description="Author of the image (e.g., `John Hannibal Smith <hannibal@a-team.com>`)")] = None,
        pause: Annotated[Optional[StrictBool], Field(description="Whether to pause the container before committing")] = None,
        changes: Annotated[Optional[StrictStr], Field(description="`Dockerfile` instructions to apply while committing")] = None,
        container_config: Annotated[Optional[ContainerConfig], Field(description="The container configuration")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[IdResponse]:
        """Create a new image from a container


        :param container: The ID or name of the container to commit
        :type container: str
        :param repo: Repository name for the created image
        :type repo: str
        :param tag: Tag name for the create image
        :type tag: str
        :param comment: Commit message
        :type comment: str
        :param author: Author of the image (e.g., `John Hannibal Smith <hannibal@a-team.com>`)
        :type author: str
        :param pause: Whether to pause the container before committing
        :type pause: bool
        :param changes: `Dockerfile` instructions to apply while committing
        :type changes: str
        :param container_config: The container configuration
        :type container_config: ContainerConfig
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._image_commit_serialize(
            container=container,
            repo=repo,
            tag=tag,
            comment=comment,
            author=author,
            pause=pause,
            changes=changes,
            container_config=container_config,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '201': "IdResponse",
            '404': "ErrorResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def image_commit_without_preload_content(
        self,
        container: Annotated[Optional[StrictStr], Field(description="The ID or name of the container to commit")] = None,
        repo: Annotated[Optional[StrictStr], Field(description="Repository name for the created image")] = None,
        tag: Annotated[Optional[StrictStr], Field(description="Tag name for the create image")] = None,
        comment: Annotated[Optional[StrictStr], Field(description="Commit message")] = None,
        author: Annotated[Optional[StrictStr], Field(description="Author of the image (e.g., `John Hannibal Smith <hannibal@a-team.com>`)")] = None,
        pause: Annotated[Optional[StrictBool], Field(description="Whether to pause the container before committing")] = None,
        changes: Annotated[Optional[StrictStr], Field(description="`Dockerfile` instructions to apply while committing")] = None,
        container_config: Annotated[Optional[ContainerConfig], Field(description="The container configuration")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Create a new image from a container


        :param container: The ID or name of the container to commit
        :type container: str
        :param repo: Repository name for the created image
        :type repo: str
        :param tag: Tag name for the create image
        :type tag: str
        :param comment: Commit message
        :type comment: str
        :param author: Author of the image (e.g., `John Hannibal Smith <hannibal@a-team.com>`)
        :type author: str
        :param pause: Whether to pause the container before committing
        :type pause: bool
        :param changes: `Dockerfile` instructions to apply while committing
        :type changes: str
        :param container_config: The container configuration
        :type container_config: ContainerConfig
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._image_commit_serialize(
            container=container,
            repo=repo,
            tag=tag,
            comment=comment,
            author=author,
            pause=pause,
            changes=changes,
            container_config=container_config,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '201': "IdResponse",
            '404': "ErrorResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _image_commit_serialize(
        self,
        container,
        repo,
        tag,
        comment,
        author,
        pause,
        changes,
        container_config,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if container is not None:
            
            _query_params.append(('container', container))
            
        if repo is not None:
            
            _query_params.append(('repo', repo))
            
        if tag is not None:
            
            _query_params.append(('tag', tag))
            
        if comment is not None:
            
            _query_params.append(('comment', comment))
            
        if author is not None:
            
            _query_params.append(('author', author))
            
        if pause is not None:
            
            _query_params.append(('pause', pause))
            
        if changes is not None:
            
            _query_params.append(('changes', changes))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter
        if container_config is not None:
            _body_params = container_config


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )

        # set the HTTP header `Content-Type`
        if _content_type:
            _header_params['Content-Type'] = _content_type
        else:
            _default_content_type = (
                self.api_client.select_header_content_type(
                    [
                        'application/json'
                    ]
                )
            )
            if _default_content_type is not None:
                _header_params['Content-Type'] = _default_content_type

        # authentication setting
        _auth_settings: List[str] = [
        ]

        return self.api_client.param_serialize(
            method='POST',
            resource_path='/commit',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )




    @validate_call
    def image_create(
        self,
        from_image: Annotated[Optional[StrictStr], Field(description="Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed.")] = None,
        from_src: Annotated[Optional[StrictStr], Field(description="Source to import. The value may be a URL from which the image can be retrieved or `-` to read the image from the request body. This parameter may only be used when importing an image.")] = None,
        repo: Annotated[Optional[StrictStr], Field(description="Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image.")] = None,
        tag: Annotated[Optional[StrictStr], Field(description="Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled.")] = None,
        message: Annotated[Optional[StrictStr], Field(description="Set commit message for imported image.")] = None,
        x_registry_auth: Annotated[Optional[StrictStr], Field(description="A base64url-encoded auth configuration.  Refer to the [authentication section](#section/Authentication) for details. ")] = None,
        changes: Annotated[Optional[List[StrictStr]], Field(description="Apply `Dockerfile` instructions to the image that is created, for example: `changes=ENV DEBUG=true`. Note that `ENV DEBUG=true` should be URI component encoded.  Supported `Dockerfile` instructions: `CMD`|`ENTRYPOINT`|`ENV`|`EXPOSE`|`ONBUILD`|`USER`|`VOLUME`|`WORKDIR` ")] = None,
        platform: Annotated[Optional[StrictStr], Field(description="Platform in the format os[/arch[/variant]].  When used in combination with the `fromImage` option, the daemon checks if the given image is present in the local image cache with the given OS and Architecture, and otherwise attempts to pull the image. If the option is not set, the host's native OS and Architecture are used. If the given image does not exist in the local image cache, the daemon attempts to pull the image with the host's native OS and Architecture. If the given image does exists in the local image cache, but its OS or architecture does not match, a warning is produced.  When used with the `fromSrc` option to import an image from an archive, this option sets the platform information for the imported image. If the option is not set, the host's native OS and Architecture are used for the imported image. ")] = None,
        input_image: Annotated[Optional[StrictStr], Field(description="Image content if the value `-` has been specified in fromSrc query parameter")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> None:
        """Create an image

        Pull or import an image.

        :param from_image: Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed.
        :type from_image: str
        :param from_src: Source to import. The value may be a URL from which the image can be retrieved or `-` to read the image from the request body. This parameter may only be used when importing an image.
        :type from_src: str
        :param repo: Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image.
        :type repo: str
        :param tag: Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled.
        :type tag: str
        :param message: Set commit message for imported image.
        :type message: str
        :param x_registry_auth: A base64url-encoded auth configuration.  Refer to the [authentication section](#section/Authentication) for details. 
        :type x_registry_auth: str
        :param changes: Apply `Dockerfile` instructions to the image that is created, for example: `changes=ENV DEBUG=true`. Note that `ENV DEBUG=true` should be URI component encoded.  Supported `Dockerfile` instructions: `CMD`|`ENTRYPOINT`|`ENV`|`EXPOSE`|`ONBUILD`|`USER`|`VOLUME`|`WORKDIR` 
        :type changes: List[str]
        :param platform: Platform in the format os[/arch[/variant]].  When used in combination with the `fromImage` option, the daemon checks if the given image is present in the local image cache with the given OS and Architecture, and otherwise attempts to pull the image. If the option is not set, the host's native OS and Architecture are used. If the given image does not exist in the local image cache, the daemon attempts to pull the image with the host's native OS and Architecture. If the given image does exists in the local image cache, but its OS or architecture does not match, a warning is produced.  When used with the `fromSrc` option to import an image from an archive, this option sets the platform information for the imported image. If the option is not set, the host's native OS and Architecture are used for the imported image. 
        :type platform: str
        :param input_image: Image content if the value `-` has been specified in fromSrc query parameter
        :type input_image: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._image_create_serialize(
            from_image=from_image,
            from_src=from_src,
            repo=repo,
            tag=tag,
            message=message,
            x_registry_auth=x_registry_auth,
            changes=changes,
            platform=platform,
            input_image=input_image,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': None,
            '404': "ErrorResponse",
            '500': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def image_create_with_http_info(
        self,
        from_image: Annotated[Optional[StrictStr], Field(description="Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed.")] = None,
        from_src: Annotated[Optional[StrictStr], Field(description="Source to import. The value may be a URL from which the image can be retrieved or `-` to read the image from the request body. This parameter may only be used when importing an image.")] = None,
        repo: Annotated[Optional[StrictStr], Field(description="Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image.")] = None,
        tag: Annotated[Optional[StrictStr], Field(description="Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled.")] = None,
        message: Annotated[Optional[StrictStr], Field(description="Set commit message for imported image.")] = None,
        x_registry_auth: Annotated[Optional[StrictStr], Field(description="A base64url-encoded auth configuration.  Refer to the [authentication section](#section/Authentication) for details. ")] = None,
        changes: Annotated[Optional[List[StrictStr]], Field(description="Apply `Dockerfile` instructions to the image that is created, for example: `changes=ENV DEBUG=true`. Note that `ENV DEBUG=true` should be URI component encoded.  Supported `Dockerfile` instructions: `CMD`|`ENTRYPOINT`|`ENV`|`EXPOSE`|`ONBUILD`|`USER`|`VOLUME`|`WORKDIR` ")] = None,
        platform: Annotated[Optional[StrictStr], Field(description="Platform in the format os[/arch[/variant]].  When used in combination with the `fromImage` option, the daemon checks if the given image is present in the local image cache with the given OS and Architecture, and otherwise attempts to pull the image. If the option is not set, the host's native OS and Architecture are used. If the given image does not exist in the local image cache, the daemon attempts to pull the image with the host's native OS and Architecture. If the given image does exists in the local image cache, but its OS or architecture does not match, a warning is produced.  When used with the `fromSrc` option to import an image from an archive, this option sets the platform information for the imported image. If the option is not set, the host's native OS and Architecture are used for the imported image. ")] = None,
        input_image: Annotated[Optional[StrictStr], Field(description="Image content if the value `-` has been specified in fromSrc query parameter")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[None]:
        """Create an image

        Pull or import an image.

        :param from_image: Name of the image to pull. The name may include a tag or digest. This parameter may only be used when pulling an image. The pull is cancelled if the HTTP connection is closed.
        :type from_image: str
        :param from_src: Source to import. The value may be a URL from which the image can be retrieved or `-` to read the image from the request body. This parameter may only be used when importing an image.
        :type from_src: str
        :param repo: Repository name given to an image when it is imported. The repo may include a tag. This parameter may only be used when importing an image.
        :type repo: str
        :param tag: Tag or digest. If empty when pulling an image, this causes all tags for the given image to be pulled.
        :type tag: str
        :param message: Set commit message for imported image.
        :type message: str
        :param x_registry_auth: A base64url-encoded auth configuration.  Refer to the [authentication section](#section/Authentication) for details. 
        :type x_registry_auth: str
        :param changes: Apply `Dockerfile` instructions to the image that is created, for example: `changes=ENV DEBUG=true`. Note that `ENV DEBUG=true` should be URI component encoded.  Supported `Dockerfile` instructions: `CMD`|`ENTRYPOINT`|`ENV`|`EXPOSE`|`ONBUILD`|`USER`|`VOLUME`|`WORKDIR` 
        :type changes: List[str]
[...]
